node_modules
*.tgz
testmodel/_cache.js.zip
docs
logs
src
test
testmodel2
outpu
outpu*
tsconfig.json
README.md
.eslintrc.json
.npmignore
.gitignore
.travis.yml
guplfile.js
abot_erbase-*
**/*.map
*.bak
gen2

gen_cov
js_cov
info.lcov
logs
